@inherits LayoutComponentBase

<div>
    <Layout>
        <Header Class="bg-light">
            <Row>
                <Col Span="8"><NavMenu></NavMenu></Col>
                <Col Span="8" Offset="4">YARISH</Col>
                <Col Span="4">Some user shit will be plased here</Col>
            </Row>
        </Header>
        <Content>
            @Body
        </Content>
        <Footer>Footer</Footer>
    </Layout>
</div>