<MudAppBar Elevation="1" Fixed="true" Style="background-color: black">
    <MudGrid>
        <MudItem xs="4" Class="d-flex align-center justify-center">
            <div class="city">
                <p class="city">Ваш город:</p>
                <a class="city cursor-pointer">Москва</a>
            </div>
        </MudItem>
        <MudItem xs="4" Class="d-flex flex-column justify-center">
            <div class="nav">
                <a class="nav" href="/">О магазине</a>
                <a class="nav" href="/">Скидки</a>
                <a class="nav" href="/">Бренды</a>
                <a class="nav" href="/">Доставка и оплата</a>
                <a class="nav" href="/">Блог</a>
                <a class="nav" href="/">Контакты</a>
            </div>
        </MudItem>
        <MudItem xs="4">
            <div class="login">
                <div class="long-top">
                    <a class="login" href="/">Войти</a>
                    <a class="login" href="/">Регистрация</a>
                </div>
                <span class="login-bottom">
                    <a class="login" href="/">Администрирование</a>
                </span>
            </div>
        </MudItem>
    </MudGrid>
</MudAppBar>