div.searching {
    display: d-flex;
    justify-content: flex-end;
    align-items: center;
}

div.feedback {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

div.cart-info {
    display: flex;
    justify-content: flex-end;
}